
<div class="container">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Cell</th>
                <th>Location Name</th>
                

                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let st of students |async">
                <td>{{st.name}}</td>
                <td>{{st.email}}</td>
                <td>{{st.cellNo}}</td>
                <td>{{st.location.name}}</td>

               
                <td>
                    <button class="btn btn-warning m-1 p-1" >Edit</button>
                    <button class="btn btn-danger m-1 p-1" >Delete</button>

                </td>

            </tr>

        </tbody>



    </table>

</div>