<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
        <a  class="navbar-brand" href="home">
            <img style="width: 200px;" src="../assets/assets/images/logo.png" alt="ff" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/jobs">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/companies">Companies</a>
                </li>
                <!-- *ngIf="userInfo.userRole == ''" -->
                <li *ngIf="userRole === 'admin' || userRole === 'employer'" class="nav-item" >
                    <a  class="nav-link" href="#" routerLink="/create-job">Create New Job</a>
                </li>

                <li *ngIf="userRole === 'admin' || userRole === 'employer'" class="nav-item" >
                    <a class="nav-link" href="#" routerLink="/modify-jobs">Modify Jobs</a>
                </li>
                <li *ngIf="userRole === 'admin' || userRole === 'employer'" class="nav-item" >
                    <a class="nav-link" href="#" routerLink="/view-job-application">View Application</a>
                </li>
                <li *ngIf="userRole === 'jobSeeker'" class="nav-item" >
                    <a class="nav-link" href="#" routerLink="/personaldetail">Personal Details</a>
                </li>
                <li>
                    <a class="nav-link" href="#" routerLink="/jobs"><i class="fa fa-search"></i> </a>   
                </li>
                  
            </ul>
            <app-navbar></app-navbar>

        </div>
    </div>
  </nav>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>
