.container {
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  h4 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .navbar {
    background-color: #f8f9fa;
  }
  
  