/Module 03/JAVA/Class-1/nbproject/private/
/Module 03/JAVA/Class-1/build/
/Module 03/JAVA/Class-1/FirstJavaClass59/nbproject/private/
/Module 03/JAVA/Class-1/FirstJavaClass59/build/
/Module 03/JAVA/Class-1/Test/build/
/Module 03/JAVA/Class-1/CumputeArea59/nbproject/private/
/Module 03/JAVA/Class-1/CumputeArea59/build/
/Module 03/JAVA/CoreJava/CumputeArea59/build/
/Module 03/JAVA/CoreJava/CumputeArea59/nbproject/private/
/Module 03/JAVA/CoreJava/FirstJavaClass59/build/
/Module 03/JAVA/CoreJava/FirstJavaClass59/nbproject/private/
/Module 03/JAVA/CoreJava/Test/build/
/Module 03/JAVA/CoreJava/Test/nbproject/private/
