/* admin-login.component.css */
.puzzle-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .puzzle {
    display: flex;
    justify-content: center;
  }
  
  .puzzle img {
    width: 80px;
    height: 80px;
    cursor: grab;
  }
  
  .puzzle img:active {
    cursor: grabbing;
  }
  