<div class="container mt-5">
    <h1 class="text-center">View All Job Application</h1>
    <div class="row">
      <div class="col-md-12 m-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Resume URL</th>
              <th scope="col">Cover Later</th>
              <th scope="col">JobId</th>
              <th scope="col">Generate PDF</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let application of applications">
              <td>{{ application.name }}</td>
              <td>{{ application.email }}</td>
              <td>{{ application.phone }}</td>
              <td>{{ application.resume }}</td>
              <td>{{ application.coverLetter }}</td>
              <td>{{ application.jobId }}</td>
              <td>
                <button class="btn btn-warning btn-md m-2" >Geratate PDF</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
