<div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4>Personal Details</h4>
  
            <!-- Step 1: Personal Details (Static View) -->
            <div class="row">
              <div class="col-md-6">
                <label>First Name:</label>
                <p>{{ personalDetails?.firstName }}</p>
              </div>
              <div class="col-md-6">
                <label>Last Name:</label>
                <p>{{ personalDetails?.lastName }}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <label>Gender:</label>
                <p>{{ personalDetails?.gender }}</p>
              </div>
              <div class="col-md-6">
                <label>Birthday:</label>
                <p>{{ personalDetails?.birthday }}</p>
              </div>
            </div>
  
            <!-- Contact Information -->
            <div class="row">
              <div class="col-md-6">
                <label>Email:</label>
                <p>{{ personalDetails?.email }}</p>
              </div>
              <div class="col-md-6">
                <label>Phone:</label>
                <p>{{ personalDetails?.phone }}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <label>Website:</label>
                <p>{{ personalDetails?.website }}</p>
              </div>
              <div class="col-md-6">
                <label>Address:</label>
                <p>{{ personalDetails?.address }}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <label>City:</label>
                <p>{{ personalDetails?.city }}</p>
              </div>
              <div class="col-md-6">
                <label>Country:</label>
                <p>{{ personalDetails?.country }}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <label>Zip Code:</label>
                <p>{{ personalDetails?.zipCode }}</p>
              </div>
            </div>
  
            <!-- Skills -->
            <h5 class="mt-4">Skills</h5>
            <div class="row">
              <div class="col-md-6">
                <label>Computer Skills:</label>
                <p>{{ personalDetails?.computerSkills }}</p>
              </div>
              <div class="col-md-6">
                <label>Language Skills:</label>
                <p>{{ personalDetails?.languageSkills }}</p>
              </div>
            </div>
  
            <!-- Education -->
            <h5 class="mt-4">Education</h5>
            <div class="row">
              <div class="col-md-6">
                <label>Institute Name:</label>
                <p>{{ personalDetails?.instituteName1 }}</p>
              </div>
              <div class="col-md-6">
                <label>Subject Name:</label>
                <p>{{ personalDetails?.subjectName1 }}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <label>Passing Year:</label>
                <p>{{ personalDetails?.passingYear1 }}</p>
              </div>
              <div class="col-md-6">
                <label>GPA:</label>
                <p>{{ personalDetails?.gpa1 }}</p>
              </div>
            </div>
  
            <!-- Work Experience -->
            <h5 class="mt-4">Work Experience</h5>
            <div class="row">
              <div class="col-md-6">
                <label>Company Name:</label>
                <p>{{ personalDetails?.companyName1 }}</p>
              </div>
              <div class="col-md-6">
                <label>Designation:</label>
                <p>{{ personalDetails?.designation1 }}</p>
              </div>
            </div>
  
            <!-- Certifications -->
            <h5 class="mt-4">Certifications</h5>
            <div class="row">
              <div class="col-md-6">
                <label>Certification Name:</label>
                <p>{{ personalDetails?.certificationName }}</p>
              </div>
              <div class="col-md-6">
                <label>Certification Year:</label>
                <p>{{ personalDetails?.certificationYear }}</p>
              </div>
            </div>
  
            <!-- Awards -->
            <h5 class="mt-4">Awards</h5>
            <div class="row">
              <div class="col-md-6">
                <label>Award Name:</label>
                <p>{{ personalDetails?.awardName }}</p>
              </div>
              <div class="col-md-6">
                <label>Award Year:</label>
                <p>{{ personalDetails?.awardYear }}</p>
              </div>
            </div>
  
            <!-- Interests -->
            <h5 class="mt-4">Interests</h5>
            <div class="row">
              <div class="col-md-12">
                <label>Introduction:</label>
                <p>{{ personalDetails?.interestIntro }}</p>
              </div>
            </div>
  
            <!-- Edit Button -->
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" (click)="goToEdit()">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  