<div class="container mt-5">
  <h2 class="text-center">Update Job</h2>
  <form [formGroup]="jobForm" (ngSubmit)="updateJob()">
    <div class="form-group">
      <label for="title">Job Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" required>
    </div>
    <div class="form-group">
      <label for="description">Job Description</label>
      <textarea class="form-control" id="description" rows="4" formControlName="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" formControlName="location" required>
    </div>
    <div class="form-group">
      <label for="company">Company Name</label>
      <input type="text" class="form-control" id="company" formControlName="company" required>
    </div>
    <div class="form-group">
      <label for="type">Job Type</label>
      <select class="form-control" id="type" formControlName="type" required>
        <option value="">Select job type</option>
        <option value="full-time">Full-Time</option>
        <option value="part-time">Part-Time</option>
        <option value="contract">Contract</option>
        <option value="internship">Internship</option>
      </select>
    </div>
    <button  class="btn btn-primary m-2" type="submit">Update Job</button>
  </form>
</div>
