<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            
            <div class="card-body p-4 p-md-5">
              <h3 style="text-align: center;" class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration</h3>
  
              <form  class="px-md-2">
  
                <div data-mdb-input-init class="form-outline">
                  <input [(NgModel)]="employerObj.CompanyName" name="CompanyName" type="text" id="" class="form-control" />
                  <label class="form-label" for="">Company Name</label>
                </div>
  
                <div class="row">
                  
                  <div class="col-md-4 mb-4">
  
                    <input [(NgModel)]="employerObj.EmailId" name="EmailId" type="text" id="" class="form-control" />
                  <label class="form-label" for="">Email</label>
  
                  </div>
                  <div class="col-md-4 mb-4">
  
                    <input [(NgModel)]="employerObj.MobileNo" name="MobileNo" type="text" id="" class="form-control" />
                  <label class="form-label" for="">Mobile</label>
  
                  </div>
                  <div class="col-md-4 mb-4">
  
                    <input [(NgModel)]="employerObj.PhoneNo" name="PhoneNo" type="text" id="" class="form-control" />
                  <label class="form-label" for="">Phone</label>
  
                  </div>
                  
                </div>
                
                <div class="row">
                  
                  <div class="col-md-6 mb-4">
  
                    <input [(NgModel)]="employerObj.LogoURL" name="text" type="url" id="" class="form-control" />
                  <label class="form-label" for="">Company Logo URL</label>
  
                  </div>
                  <div  class="col-md-6 mb-4">
  
                    <input [(NgModel)]="employerObj.GstNo" name="GstNo" type="text" id="" class="form-control" />
                  <label class="form-label" for="">Company Registration Number</label>
  
                  </div>
                  
                  
                </div>

                <div class="row">
                  
                  <div class="col-md-4 mb-4">
  
                    <input [(NgModel)]="employerObj.City" name="City" type="text" id="" class="form-control" />
                  <label class="form-label" for="">City</label>
  
                  </div>
                  <div class="col-md-4 mb-4">
  
                    <input [(NgModel)]="employerObj.State" name="State" type="text" id="" class="form-control" />
                  <label class="form-label" for="">State</label>
  
                  </div>
                  <div class="col-md-4 mb-4">
  
                    <input [(NgModel)]="employerObj.PinCode" name="PinCode" type="text" id="" class="form-control" />
                  <label class="form-label" for="">Zip</label>
  
                  </div>
                  
                </div>

                <div class="row">
                
  
                  <div class="col-md-12 mb-4">
  
                    <textarea [(NgModel)]="employerObj.CompanyAddress" name="CompanyAddress" type="text" id="" class="form-control" ></textarea>
                  <label class="form-label" for="">Address</label>
  
                  </div>
                  
                </div>
                
  
                
  
                <button (click)="registration()" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1">Submit</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>