
<form class="d-flex">
  <a routerLink="/registration" class="btn btn-success round-button" type="button">Registration</a>
  <a routerLink="/login" class="btn btn-outline-primary round-button mx-2" type="button">Login</a>
  <a *ngIf="userRole === 'admin' || userRole === 'employer' || userRole === 'jobSeeker'" href="#" routerLink="/userprofile"><i class="fa fa-user-circle"></i></a>
  <a *ngIf="userRole === 'admin' || userRole === 'employer' || userRole === 'jobSeeker'" class="btn btn-outline-success"  href="/logout">Logout</a>

</form>

