<!-- Search -->



<div class="container mt-5">
  <h5 class="text-center bg-info">View All Jobs</h5>
    <div class="row">
      <div class="col-md-12 m-2" *ngFor="let job of jobs">
        <div class="card mb-12">
          <a class="text-decoration-none text-dark" href="#">
            <div class="card-body">
              <h5 class="card-title">{{ job.title }}</h5>
              <p class="card-text"><strong>Description:</strong> {{ job.description }}</p>
              <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>
              <p class="card-text"><strong>Company:</strong> {{ job.company }}</p>
              <p class="card-text"><strong>Type:</strong> {{ job.type }}</p>
            </div>
          </a>
          <a href="#" routerLink="/create-job-application" class="btn btn-primary m-2">Apply Now</a>
        </div>
      </div>
    </div>
  </div>

