<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 style="text-align: center;" class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration</h3>

                        <div class="row mb-5">
                            <div class="col-12 text-center">
                                <div class="btn-group">
                                    <a type="button" (click)="isJobSeeker = true" class="btn m-2" [ngClass]="isJobSeeker ? 'btn-success' : 'btn-primary'">Are you Job Seeker?</a>
                                    <a type="button" (click)="isJobSeeker = false" class="btn m-2" [ngClass]="!isJobSeeker ? 'btn-success' : 'btn-primary'">Register As an Employer?</a>
                                </div>
                            </div>
                        </div>

                        <!-- Job Seeker Registration Form -->
                        <div *ngIf="isJobSeeker">
                            <form [formGroup]="jobSeekerRegForm" (ngSubmit)="jobSeekerOnSubmit()">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline mb-4">
                                            <input type="text" formControlName="fullname" id="Fullname" class="form-control" required />
                                            <label class="form-label" for="Fullname">Full Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="email" formControlName="emailId" id="EmailId" class="form-control" required />
                                            <label class="form-label" for="EmailId">Email ID</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="password" formControlName="password" id="password" class="form-control" required />
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="mobileNo" id="MobileNo" class="form-control" required />
                                            <label class="form-label" for="MobileNo">Mobile</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <select formControlName="experienceStatus" id="ExperienceStatus" class="form-select" required>
                                                <option value="" selected disabled>Select</option>
                                                <option value="Fresher">Fresher</option>
                                                <option value="Experienced">Experienced</option>
                                            </select>
                                            <label class="form-label" for="ExperienceStatus">Experience Status</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" formControlName="resumeUrl" id="ResumeUrl" class="form-control" required />
                                    <label class="form-label" for="ResumeUrl">Resume URL</label>
                                </div>

                                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                            </form>
                        </div>

                        <!-- Employer Registration Form -->
                        <div *ngIf="!isJobSeeker">
                            <form [formGroup]="employeeRegForm" (ngSubmit)="employeerOnSubmit()">
                                <div class="form-outline mb-4">
                                    <input type="text" formControlName="companyName" id="companyName" class="form-control" required />
                                    <label class="form-label" for="companyName">Company Name</label>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="email" formControlName="emailId" id="emailId" class="form-control" required />
                                            <label class="form-label" for="emailId">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="mobileNo" id="mobileNo" class="form-control" required />
                                            <label class="form-label" for="mobileNo">Mobile</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="password" formControlName="password" id="password" class="form-control" required />
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="url" formControlName="logoURL" id="logoURL" class="form-control" required />
                                            <label class="form-label" for="logoURL">Company Logo URL</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="gstNo" id="gstNo" class="form-control" required />
                                            <label class="form-label" for="gstNo">Company Registration Number</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="city" id="city" class="form-control" required />
                                            <label class="form-label" for="city">City</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="state" id="state" class="form-control" required />
                                            <label class="form-label" for="state">State</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="pinCode" id="pinCode" class="form-control" required />
                                            <label class="form-label" for="pinCode">Zip</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <textarea formControlName="companyAddress" id="companyAddress" class="form-control" required></textarea>
                                    <label class="form-label" for="companyAddress">Address</label>
                                </div>

                                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
