<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 style="text-align: center;" class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration</h3>

            <form [formGroup]="regForm" (ngSubmit)="onSubmit()" >
              
              <div class="form-outline mb-4" data-mdb-input-init>
                <input name="companyName" type="text" id="companyName" class="form-control"/>
                <label class="form-label" for="companyName">Company Name</label>
                
              </div>

              <div class="row">
                <div class="col-md-3 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input  name="emailId" type="email" id="emailId" class="form-control"/>
                    <label class="form-label" for="emailId">Email</label>
                  </div>
                </div>

                <div class="col-md-3 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input  name="password" type="password" id="password" class="form-control"/>
                    <label class="form-label" for="password">Password</label>
                  </div>
                </div>

                <div class="col-md-3 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input name="mobileNo" type="text" id="mobileNo" class="form-control"/>
                    <label class="form-label" for="mobileNo">Mobile</label>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input name="phoneNo" type="text" id="phoneNo" class="form-control"/>
                    <label class="form-label" for="phoneNo">Phone</label>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input name="logoURL" type="url" id="logoURL" class="form-control" required />
                    <label class="form-label" for="logoURL">Company Logo URL</label>
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input name="gstNo" type="text" id="gstNo" class="form-control" required />
                    <label class="form-label" for="gstNo">Company Registration Number</label>
                    
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input name="city" type="text" id="city" class="form-control" required />
                    <label class="form-label" for="city">City</label>
                    
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input  name="state" type="text" id="state" class="form-control" required />
                    <label class="form-label" for="state">State</label>
                    
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-outline" data-mdb-input-init>
                    <input  name="pinCode" type="text" id="pinCode" class="form-control" required />
                    <label class="form-label" for="pinCode">Zip</label>
                    
                  </div>
                </div>
              </div>
              
              <div class="form-outline mb-4" data-mdb-input-init>
                <textarea name="companyAddress" id="companyAddress" class="form-control" required></textarea>
                <label class="form-label" for="companyAddress">Address</label>
                
              </div>
              
              <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
              
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
