<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 sidebar">
        <a href="#">Dashboard</a>
        <a href="#">Manage Job Application</a>
        <a href="#">Manage Users</a>
        <app-admin-user-details></app-admin-user-details>

      </div>

      <!-- Main Content -->
      <div class="col-md-9 mt-4">
        <!-- Dashboard Cards -->
        <div class="row">
          <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title">Total Jobs</h5>
                    <h2>0</h2>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title">Active Users</h5>
                    <h2>0</h2>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title">Total Job Application</h5>
                    <h2>0</h2>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Job Management Table -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Manage Jobs</h4>
            <a  class="btn btn-primary btn-sm float-end" routerLink="job-form" data-bs-toggle="modal" data-bs-target="#addJobModal"> Add Job</a>
          </div>
          <app-job-list></app-job-list>
        </div>

        <!-- Job Application Management Table -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Manage Job Application</h4>
          </div>
          <app-application-list></app-application-list>
          
        </div>

        <!-- User Management Table -->
        <div class="card">
          <div class="card-header">
            <h4>Manage Users</h4>
          </div>
          
        </div>


        
      </div>
    </div>
  </div>





