    <!-- Job Search Filter Section -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3">
                <h4>Filter Jobs</h4>
                <form>
                    <div class="form-group">
                        <label for="jobType">Job Type</label>
                        <select class="form-control" id="jobType">
                            <option>Full Time</option>
                            <option>Part Time</option>
                            <option>Freelance</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="experience">Experience</label>
                        <select class="form-control" id="experience">
                            <option>Entry Level</option>
                            <option>Mid Level</option>
                            <option>Senior Level</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category">
                            <option>IT & Software</option>
                            <option>Marketing</option>
                            <option>Finance</option>
                            <option>Engineering</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Apply Filter</button>
                </form>
            </div>

            <!-- Job Listings Section -->
            <div class="col-md-9">
                <h4>Recent Job Listings</h4>

                <!-- Job 1 -->
                <div class="job-listing" *ngFor="let job of jobs">
                    <img src="{{ job.companyImage }}" alt="">
                    <div>
                        <h5>{{ job.jobTitle }}</h5>
                        <p>{{ job.companyName }} - {{ job.jobType }} - {{ job.jobLocation }}</p>
                        <p>Experience: {{ job.jobExperience }}, Salary: {{ job.jobMinSalary }} - {{ job.jobMaxSalary }}</p>
                        <p>Category: {{ job.jobCategory }}, Dadeline: {{ job.jobDeadline }}</p>
                        <p>Job Description: {{ job.jobDescription }}</p>
                        <button class="btn btn-outline-primary">Apply Now</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

